<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeBeat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <div class="nav-menu">
                    <ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="heroTitle">
            <img src="/images/heroLogo.png" alt="Hero Logo">
            <h1>SIGN IN</h1>
        </div>
        <div class="login-cointainer">
            <div class="oauth-section">
                <div class="oauth-buttons">
                    <a th:href="@{/oauth2/authorization/google}" class="oauth-button google">
                        <img src="/images/google-logo.png" alt="Google">
                        Google
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>